.venv
# IntelliJ IDEA files
.idea/
./idea/*
./
# Specific IntelliJ IDEA files
.idea/.gitignore
.idea/.name
.idea/app.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

 /itqan_courses/__pycache__
 /itqan_courses/__pycache__/
 /itqan_courses/__pycache__/*
 itqan_courses/